.title {
  position: fixed;
  top: 30px;
  left: 35%;
  z-index: 1;
  display: inline-block;
  width: 30%;
}

h1 {
  text-align: center;
}

p, button {
  font-size: 10px;
}

.controls {
  position: fixed;
  z-index: 1;
  left: 0;
}

.time {
  position: fixed;
  z-index: 1;
  right: 0;
}

#grid {
  margin-top: 3px;
  margin-left: 3px;
}